/*In minecraft sense, this is the texture pack used while playing the game*/

h1 {
    text-align: center;
    color: green;
    font-weight: bold;
}

.center {
    display: block;
    margin: auto;
}

body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#foreground {
    position: fixed;
    top: 7000px;
    left: 300px;
}
